body {
  border-color:blue;
}
.header{
    //background-color: aqua;
    border:20px;
    border-color:black;
    padding:10px;
    margin:10px;
    margin-color:black;
}
table,th,td{
  border: 1px solid black;
  border-collapse: collapse;
  border-radius:10px;
  border-style:outset;
  border-color: red;
}
td{
  color: blue;
  background-color: pink;
}
#text{
  background-color: #f9a3a3ff;
}
#change-color{
  background-color: #a3f6f9ff;
}
div{
  display:flex;
  justify-content:space-around;

}